
// Custom Styles
body {
  background: #000000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ffffff; 
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 600px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}
.form-box{
    text-align: center;
    // border-style: solid;
    // border-radius: 10px;
    border-width: 1px;
    padding: 2rem;
    background-color: #595A60;
    color:#ffffff
}
.form-field{
    margin: 1rem;
    color:black;
}

.center{
    text-align: center;
    margin:0 auto;
}