$primary-color: #6D6E71;
$primary-color2: #EDEDED;
// Custom Styles
body {
  background: #000000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ffffff; 
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 600px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}
.form-box{
    text-align: center;
    // border-style: solid;
    // border-radius: 10px;
    border-width: 1px;
    padding: 2rem;
    background-color: #595A60;
    color:#ffffff
}
.navbar-default{
    background-color:#595A60;
}
.navbar-brand{
    padding: 0;
    padding-top:7px;
    padding-left:5px
}
#brandImg{
    max-height: 35px;
    background-color:$primary-color2;
}
.form-field{
    margin: 1rem;
    color:black;
}
.center{
    text-align: center;
    margin:0 auto;
}
.question-box{
    text-align: center;
    min-height: 70px;
}
.input-box{
    text-align: center;
    min-height: 70px;
    margin-bottom: 20px;
}

.result-box{
    background-color: #5CB85C;
    border-style:none;
}
.result-text{
    font-weight: 900;
}
.result-title{
    margin-bottom:35px;
    margin: 35px;
}
.result-pane{
    
    a{
        background-color: #5CB85C;
        color:#ffffff;
    }
}
.list-group-item{
        background-color: #5CB85C;
}
.list-group-item-text{
    margin:0;
}


.progress-bar.animate {
   width: 100%;
}

.modal-backdrop {
   opacity: 0.5;
}

.modal-dialog {
   -webkit-transform: translate(0px, 50%);
   transform: translate(0px, 50%);
}

.progress-popup {
   margin-bottom: 0;
}
#otherIndustry{
    color:#000000;
}
.well{
    padding:10px;
    h4{
        color:black;    
    }
    h1{
        color:#FFFFFF;    
    }
}
// .test{
//     height:10px;
//     width: 100%;
// }
.well-pos{
    background-color:#5CB85C;
    border-style:none;
}
// .well-warn{
//     background-color: #F0AD4E;
//     border-style:none;
// }
// .well-info{
//     background-color:#5BC0DE;
//     border-style:none;
// }
// .radio-label{
//     margin: 5px;
// }
.text-logo{
    max-height:80px;
    background-color:$primary-color2;
    border-radius: 5px;
}
.box-logo{
    max-height:40px;
    // background-color: white;
    border-radius: 5px;
    margin-top:15px;
}
#companyForm{
    margin-top:15px;
}
.box-main{
    margin-top: 50px;
    // background-color:$primary-color;
    color: #ffffff;
    border-style: none;
    // padding: 20px;
    padding: 2px !important;
    // border-radius: 10px;
}

.main-inside{
    background-color:$primary-color2;
    color:$primary-color;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    padding:20px;
     h1{
        font-weight: 200;
     }
}
.progress{
    margin-bottom: 3px;
    margin-top: 1px;
    height:30px;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
}
// .box-main{
//     margin-top: 50px;
//     background-color:#696C75;
//     color: #ffffff;
//     border-style: none;
//     padding: 20px;
//     // padding-bottom: 20px;
//     
//     border-radius: 10px;
// }